@{
  Layout = "_Layout";
}
@model DoctorsOffice.Models.Doctor
<h4>Add a new Doctor</h4>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)
    <hr />
    @Html.Label("Select Specialty")
    @Html.DropDownList("SpecialtyId")
    <input type="submit" value="Add new Doctor" />
}
<p>@Html.ActionLink("Show all Doctors", "Index")</p>