@{
  Layout = "_Layout";
}

@model DoctorsOffice.Models.Doctor

<h2>Edit</h2>

<h4>Edit this doctor: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.DoctorId)

    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)
    <hr />
    @Html.LabelFor(model => model.Specialty)
    @Html.TextBoxFor(model => model.Specialty)
    <hr />
    @Html.Label("Select Patient")
    @Html.DropDownList("PatientId")
    <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to Doctors", "Index")</p>