@{
  Layout = "_Layout";
}

@model DoctorsOffice.Models.Specialty

<h2>Edit</h2>

<h4>Edit this task: @Html.DisplayFor(model => model.Field)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.SpecialtyId)

    @Html.LabelFor(model => model.Field)
    @Html.EditorFor(model => model.Field)

    @Html.Label("Select doctor")
    @Html.DropDownList("DoctorId")

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>